:root {
  --color-primary: #eb2f64;
  --color-primary-dark: #BA265D; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  min-height: 100vh;
  font-size: 30px; }

.top-bar a {
  color: #666666;
  text-decoration: none;
  font-size: 1.6rem; }

.nav-container h2 {
  text-transform: uppercase;
  position: relative;
  color: white;
  -webkit-text-stroke: 0.1vw #007bff;
  font-size: 3rem;
  font-weight: 900; }
  @media only screen and (max-width: 1200px) {
    .nav-container h2 {
      font-size: 2.5rem; } }

.nav-container h2::before {
  content: attr(data-text);
  white-space: nowrap;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #007bff;
  -webkit-text-stroke: 0vw #007bff;
  overflow: hidden;
  animation: animate 2s linear 4.5s; }

@keyframes animate {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

.nav-container__list,
.nav-container ul,
.nav-container a {
  font-size: 1.6rem;
  font-weight: 400;
  list-style: none;
  color: #666666;
  text-decoration: none; }
  @media only screen and (max-width: 1200px) {
    .nav-container__list,
    .nav-container ul,
    .nav-container a {
      font-size: 1.3rem; } }

.first-section__text-intro {
  display: flex;
  flex-direction: column;
  font-size: 6.5rem;
  font-weight: 900; }
  .first-section__text-intro span {
    font-size: 5.5rem;
    font-weight: 300; }
    .first-section__text-intro span span {
      color: #007bff;
      text-transform: capitalize;
      font-weight: bold; }

.first-section__second-txt {
  font-weight: 400;
  text-align: center;
  font-size: 2rem;
  color: #666666; }

.first-section__btn a {
  font-weight: 400;
  word-spacing: .2rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  color: #007bff; }

.second-section h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  color: white;
  transform: skew(-5deg); }

.second-section .first-text {
  justify-content: center;
  text-align: center;
  padding: 1rem 1rem;
  width: 100%;
  height: 4rem;
  color: white;
  transition: all 0.5s ease-in-out;
  font-size: 1em;
  transform: skew(-5deg); }

nav a.active {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #007bff;
  border-radius: .3rem;
  height: 3rem;
  width: 9.2rem;
  gap: 1rem;
  transition: all 0.4s ease; }

nav a.active:hover {
  transform: scale(1.1, 1.1);
  transition: ease-in-out 0.3s; }

nav a.active:before {
  display: none; }

nav a:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 0%;
  border-radius: .1rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #007bff;
  transition: all 0.4s ease; }

nav a:hover:before {
  width: 100%; }

#main-nav.sticky {
  position: fixed;
  top: 0;
  z-index: 99999;
  box-shadow: #3396ff 1px 1px, rgba(65, 46, 240, 0.3) 1px 2px;
  transition: box-shadow .2s ease-in-out; }

.first-section__text-intro {
  position: relative;
  transform: translateY(-600px);
  animation: .5s slideIn ease-in-out forwards .9s; }
  .first-section__text-intro span {
    transform: translateX(-300%);
    animation: 1s slideIn ease forwards 1.6s; }

.first-section__second-txt, .first-section__btn {
  transform: translateY(500rem);
  animation: 2.5s slide-Back-In ease forwards 3s; }

.bi {
  color: #666666;
  padding-right: 1.5rem; }
  .bi__linkedIn {
    color: #007bff; }

.top-bar {
  display: flex;
  align-items: center;
  background-color: #eee;
  padding: 0.7rem 0;
  width: 100%;
  z-index: 99999999999999;
  position: relative; }
  .top-bar__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 3rem;
    padding: 0 10rem; }
    @media only screen and (max-width: 1200px) {
      .top-bar__row {
        padding: 0 5rem; } }
  .top-bar__row-left, .top-bar__row-right {
    display: flex;
    gap: 3rem; }

.nav-container {
  display: flex;
  align-items: center;
  position: fixed;
  position: relative;
  z-index: 9999999999999999;
  background-color: #fff;
  width: 100%;
  height: 8rem;
  box-shadow: #26394d 1px 5px 5px -9px; }
  .nav-container__row-align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    align-items: center;
    padding: 0 10rem; }
    @media only screen and (max-width: 1200px) {
      .nav-container__row-align {
        padding: 0 5rem; } }
  .nav-container__logo {
    display: flex;
    align-items: center;
    justify-content: center; }
  .nav-container__nav--list ul,
  .nav-container li,
  .nav-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 6rem;
    padding: 6px 0; }
    @media only screen and (max-width: 1200px) {
      .nav-container__nav--list ul,
      .nav-container li,
      .nav-container a {
        gap: 4rem; } }

@keyframes slideIn {
  100% {
    transform: translateY(0px);
    opacity: 1; } }

@keyframes slide-Back-In {
  0%, 5%, 95%, 100% {
    bottom: 0;
    transform: translate(0, 0); }
  45%, 55% {
    bottom: 100%;
    transform: translate(0, -100%); } }

.first-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  padding: 10rem 0 20rem 0; }
  .first-section__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .first-section__btn {
    display: flex;
    text-align: center;
    justify-content: center; }
    .first-section__btn a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 4rem;
      border: 1px solid #007bff;
      border-radius: .4rem;
      transition: ease-in-out 0.3s; }
    .first-section__btn a:hover {
      background-color: #007bff;
      transition: ease-in-out 0.3s;
      transform: scale(1.1, 1.1);
      color: white; }

.second-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 7rem; }
  .second-section .back-ground {
    background-color: #326ca9;
    opacity: 85%;
    background-size: cover;
    width: 100%;
    transform: skew(5deg);
    box-shadow: #26394d 1px 5px 5px -9px; }
  .second-section__row-align {
    display: flex;
    padding: 9vmin;
    padding-bottom: 20rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden; }
    .second-section__row-align .box {
      flex: 1;
      position: relative;
      transition: all .5s ease-in-out;
      height: 75vmin;
      border: 2px solid #cdcbcb;
      padding: .6rem; }
      .second-section__row-align .box .box__head {
        align-items: center;
        position: absolute;
        background: #2b4764;
        white-space: nowrap;
        padding: 0 20px;
        transform: rotate(-90deg);
        transform-origin: 0% 0%;
        transition: all 1s ease-in-out; }
        .second-section__row-align .box .box__head a {
          display: none; }
      .second-section__row-align .box:hover {
        flex-grow: 10;
        transform: skew(-3deg);
        transition: ease-in-out 0.8s; }
        .second-section__row-align .box:hover img {
          filter: grayscale(0); }
        .second-section__row-align .box:hover .box__head {
          top: 50%;
          left: 0;
          transform: translate(0, 0);
          transform: rotate(0deg);
          width: 100%;
          background: rgba(0, 0, 0, 0.01);
          text-align: center; }
          .second-section__row-align .box:hover .box__head .first-text {
            display: flex;
            text-align: center;
            align-items: center;
            opacity: 95%;
            background-color: #2b4764;
            padding: 4rem 26rem; }
          .second-section__row-align .box:hover .box__head .second-text {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 1rem 1.2rem; }
            .second-section__row-align .box:hover .box__head .second-text a {
              display: flex;
              padding: .2rem .5rem;
              justify-content: center;
              width: 33%;
              text-decoration: none;
              background-color: #286eb9;
              transition: ease-in-out 0.3s;
              border-radius: .4rem;
              color: white; }
            .second-section__row-align .box:hover .box__head .second-text a:hover {
              background-color: #2b4764;
              transition: ease-in-out 0.3s;
              width: 35%;
              transform: skew(-2deg);
              transform: scale(1.1, 1.1); }
      .second-section__row-align .box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 1s ease-in-out;
        filter: grayscale(100%); }
      .second-section__row-align .box:not(:nth-child(5)) {
        margin-right: 1em; }

.third-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10rem;
  background-color: white;
  width: 100%;
  height: 100rem; }
  .third-section h2 {
    margin-top: 10rem; }

.fourth-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10rem;
  background-color: white;
  width: 100%;
  height: 100rem;
  border-top: 1px dotted #007bff; }
  .fourth-section h2 {
    margin-top: 10rem; }

.fifth-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10rem;
  background-color: white;
  width: 100%;
  height: 100rem;
  border-top: 1px dotted #007bff; }
  .fifth-section h2 {
    margin-top: 10rem; }
