:root {
  --color-light-blue-1: #378ce6;
  --color-light-blue: #326ca9;
  --color-dark-blue: #2b4764;
  --color-light-background: #fefafaa1;
  --color-medium-background: #b2b6c9;
  --color-nav-gray: #eee;
  --color-light-gray: #cdcbcb;
  --color-med-dark-gray: #a2a0a0;
  --color-dark-gray: #666666; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }

*, *::before, *::after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0;
  font: inherit; }

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 30px; }

.top-bar a {
  color: var(--color-dark-gray);
  text-decoration: none;
  font-size: 1.6rem; }

.nav-container h2 {
  text-transform: uppercase;
  position: relative;
  color: white;
  -webkit-text-stroke: 0.1vw var(--color-light-blue-1);
  font-size: 3rem;
  font-weight: 900; }
  @media only screen and (max-width: 1200px) {
    .nav-container h2 {
      font-size: 2.5rem; } }

.nav-container h2::before {
  content: attr(data-text);
  white-space: nowrap;
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--color-light-blue-1);
  -webkit-text-stroke: 0vw var(--color-light-blue-1);
  overflow: hidden;
  animation: animate 2s linear 4.5s; }

@keyframes animate {
  0% {
    width: 0%;
    box-shadow: rgba(56, 77, 214, 0.8) 5px 0, rgba(58, 71, 153, 0.1) 6px 0; }
  100% {
    width: 100%;
    box-shadow: rgba(57, 78, 214, 0.8) 5px 0, rgba(58, 71, 153, 0.1) 6px 0; } }

.nav-container__list,
.nav-container ul,
.nav-container a {
  font-size: 1.6rem;
  font-weight: 400;
  list-style: none;
  color: var(--color-dark-gray);
  text-decoration: none; }
  @media only screen and (max-width: 1200px) {
    .nav-container__list,
    .nav-container ul,
    .nav-container a {
      font-size: 1.3rem; } }

.first-section__text-intro {
  display: flex;
  flex-direction: column;
  font-size: 6.5rem;
  font-weight: 900; }
  .first-section__text-intro span {
    font-size: 5.5rem;
    font-weight: 300; }
    .first-section__text-intro span span {
      color: var(--color-light-blue-1);
      text-transform: capitalize;
      font-weight: bold; }

.first-section__second-txt {
  font-weight: 400;
  text-align: center;
  font-size: 2rem;
  color: #666666;
  margin-top: 10rem;
  margin-bottom: 2rem; }

.first-section__btn a {
  font-weight: 400;
  word-spacing: .2rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-light-blue-1); }

.second-section h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  color: white;
  transform: skew(-5deg); }

.second-section .first-text {
  justify-content: center;
  text-align: center;
  padding: 1rem 1rem;
  width: 100%;
  height: 4rem;
  color: white;
  transition: all 0.5s ease-in-out;
  font-size: 1em;
  transform: skew(-5deg); }

.box-row {
  font-size: 1.5rem;
  font-family: inherit; }
  .box-row .top-section h2 {
    font-size: 4rem;
    font-weight: 600;
    color: white; }
  .box-row .left-row .title {
    width: 90%; }
  .box-row .left-row h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 600; }
  .box-row .left-row .education,
  .box-row .left-row .certification,
  .box-row .left-row .work-exp, .box-row .left-row a {
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
    text-decoration: none;
    transition: all ease .2s; }
    .box-row .left-row .education p, .box-row .left-row .education a,
    .box-row .left-row .certification p,
    .box-row .left-row .certification a,
    .box-row .left-row .work-exp p,
    .box-row .left-row .work-exp a, .box-row .left-row a p, .box-row .left-row a a {
      margin: .5rem 0;
      font-size: 1.7rem;
      font-weight: 400;
      color: #292d73; }
      .box-row .left-row .education p span, .box-row .left-row .education a span,
      .box-row .left-row .certification p span,
      .box-row .left-row .certification a span,
      .box-row .left-row .work-exp p span,
      .box-row .left-row .work-exp a span, .box-row .left-row a p span, .box-row .left-row a a span {
        font-weight: 500;
        color: orange; }
    .box-row .left-row .education p:last-child,
    .box-row .left-row .certification p:last-child,
    .box-row .left-row .work-exp p:last-child, .box-row .left-row a p:last-child {
      color: #403e3e; }
  .box-row .skill-section h3 {
    display: flex;
    justify-content: center;
    width: 40%;
    font-size: 3.8rem;
    text-transform: uppercase;
    color: #0E2954; }
  .box-row .skill-section h4 {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 300;
    color: #292d73;
    text-transform: uppercase;
    margin-top: .1rem;
    margin-bottom: 1rem; }
  .box-row .skill-section .technologies p {
    margin: .8rem 0;
    font-size: 1.7rem;
    color: white;
    font-weight: 300;
    text-transform: capitalize; }
  .box-row .last-row {
    margin-bottom: 7rem; }
    .box-row .last-row p:last-child {
      line-height: 5rem; }

nav a.active {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--color-light-blue-1);
  border-radius: .3rem;
  height: 3rem;
  width: 9.2rem;
  gap: 1rem;
  transition: all 0.4s ease; }

nav a.active:hover {
  transform: scale(1.1, 1.1);
  transition: ease-in-out 0.3s; }

nav a.active:before {
  display: none; }

nav a:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 0%;
  border-radius: .1rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-light-blue-1);
  transition: all 0.4s ease; }

nav a:hover:before {
  width: 100%; }

#main-nav.sticky {
  position: fixed;
  top: 0;
  z-index: 99999;
  box-shadow: #3396ff 1px 1px, rgba(65, 46, 240, 0.3) 1px 2px;
  transition: box-shadow .2s ease-in-out; }

.first-section__text-intro {
  position: relative;
  transform: translateY(-600px);
  animation: .5s slideIn ease-in-out forwards .9s; }
  .first-section__text-intro span {
    transform: translateX(-300%);
    animation: 1s slideIn ease forwards 1.6s; }

.first-section__second-txt, .first-section__btn {
  transform: translateY(400rem);
  animation: 2.5s slide-Back-In ease forwards 3s; }

.bi {
  color: #666666;
  padding-right: 1.5rem; }
  .bi__linkedIn {
    color: #007bff; }
  .bi-envelope-paper, .bi-phone--contact {
    color: white;
    width: 12rem;
    height: 6rem;
    padding: 0;
    margin: 0; }

.title {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .title svg {
    color: orange;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    padding-right: 2rem;
    width: 5em;
    height: 5em; }
  .title .icon-skills {
    width: 5em;
    height: 5em;
    color: #f0f1f6; }

.top-bar {
  display: flex;
  align-items: center;
  background-color: var(--color-nav-gray);
  padding: 0.7rem 0;
  width: 100%;
  z-index: 99999999999999;
  position: relative; }
  .top-bar__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 3rem;
    padding: 0 10rem; }
    @media only screen and (max-width: 1200px) {
      .top-bar__row {
        padding: 0 5rem; } }
  .top-bar__row-left, .top-bar__row-right {
    display: flex;
    gap: 3rem; }

.nav-container {
  display: flex;
  align-items: center;
  position: fixed;
  position: relative;
  z-index: 9999999999999999;
  background-color: #fff;
  width: 100%;
  height: 8rem;
  box-shadow: #26394d 1px 5px 5px -9px; }
  .nav-container__row-align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    align-items: center;
    padding: 0 10rem; }
    @media only screen and (max-width: 1200px) {
      .nav-container__row-align {
        padding: 0 5rem; } }
  .nav-container__logo {
    display: flex;
    align-items: center;
    justify-content: center; }
  .nav-container__nav--list ul,
  .nav-container li,
  .nav-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 6rem;
    padding: 6px 0; }
    @media only screen and (max-width: 1200px) {
      .nav-container__nav--list ul,
      .nav-container li,
      .nav-container a {
        gap: 4rem; } }

@keyframes slideIn {
  100% {
    transform: translateY(0px);
    opacity: 1; } }

@keyframes slide-Back-In {
  0%, 5%, 95%, 100% {
    bottom: 0;
    transform: translate(0, 0); }
  45%, 55% {
    bottom: 100%;
    transform: translate(0, -100%); } }

.first-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  height: auto;
  padding: 10rem 0;
  margin-bottom: 50rem; }
  .first-section__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .first-section__btn {
    display: flex;
    text-align: center;
    justify-content: center; }
    .first-section__btn a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 4rem;
      border: 1px solid var(--color-light-blue-1);
      border-radius: .4rem;
      transition: ease-in-out 0.3s; }
    .first-section__btn a:hover {
      background-color: var(--color-light-blue-1);
      transition: ease-in-out 0.3s;
      transform: scale(1.1, 1.1);
      color: white; }

.second-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10rem 6rem;
  margin-bottom: 50rem; }
  .second-section .back-ground {
    position: relative;
    background-color: var(--color-light-blue);
    opacity: 85%;
    background-size: cover;
    width: 100%;
    transform: skew(5deg);
    box-shadow: #26394d 1px 5px 5px -9px; }
  .second-section__row-align {
    position: relative;
    display: flex;
    padding: 9vmin;
    padding-bottom: 20rem;
    overflow: hidden; }
    .second-section__row-align .box {
      flex: 1;
      position: relative;
      transition: all .5s ease-in-out;
      width: 90%;
      height: 75vmin;
      border: 2px solid var(--color-light-gray);
      padding: .6rem;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; }
      .second-section__row-align .box .box__head {
        align-items: center;
        position: absolute;
        background: var(--color-dark-blue);
        white-space: nowrap;
        padding: 0 20px;
        transform: rotate(-90deg);
        transform-origin: 0% 0%; }
        .second-section__row-align .box .box__head a {
          display: none; }
      .second-section__row-align .box:hover {
        flex-grow: 10;
        transform: skew(-3deg);
        transition: all ease 0.4s;
        position: relative; }
        .second-section__row-align .box:hover img {
          filter: grayscale(0);
          position: relative; }
        .second-section__row-align .box:hover .box__head {
          left: 0;
          top: calc(60% - 20%);
          transform: rotate(0deg);
          width: 100%;
          background: rgba(0, 0, 0, 0.01);
          text-align: center; }
          .second-section__row-align .box:hover .box__head .first-text {
            display: flex;
            color: white;
            text-align: center;
            align-items: center;
            opacity: 96%;
            background-color: rgba(0, 0, 0, 0.3);
            padding: 4rem 26rem;
            transform: skew(-1deg);
            -webkit-text-stroke: .2px black;
            margin-top: -25rem;
            margin-bottom: 50rem; }
          .second-section__row-align .box:hover .box__head .second-text {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 1rem 1.2rem;
            margin-top: -6px; }
            .second-section__row-align .box:hover .box__head .second-text a {
              display: flex;
              padding: .2rem .5rem;
              justify-content: center;
              width: 33%;
              text-decoration: none;
              background-color: var(--color-light-blue);
              transition: all ease 0.3s;
              border-radius: .4rem;
              color: white; }
            .second-section__row-align .box:hover .box__head .second-text a:hover {
              background-color: var(--color-dark-blue);
              transform: skew(-2deg);
              transform: scale(1.1, 1.1);
              transition: all ease 0.3s; }
      .second-section__row-align .box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 1s ease-in-out;
        filter: grayscale(100%); }
      .second-section__row-align .box:not(:nth-child(5)) {
        margin-right: 1em; }

.third-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10rem 0;
  margin-top: 20rem;
  margin-bottom: 50rem; }
  .third-section .box-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 85%;
    transition: ease-in-out 0.3s; }
    .third-section .box-row:hover {
      width: 100%;
      transition: ease-in-out 0.3s; }
      .third-section .box-row:hover .skill-section {
        left: 60%; }
  .third-section .top-section {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--color-light-blue);
    width: 97%;
    height: 12rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; }
  .third-section .middle-section {
    margin-top: -10rem;
    position: relative;
    background-color: var(--color-light-background);
    width: 90%;
    height: 100%; }
    .third-section .middle-section .box-left {
      width: 50%;
      padding: 15rem 3rem; }
      .third-section .middle-section .box-left .left-row {
        width: 100%; }
      .third-section .middle-section .box-left .certification:hover {
        border-radius: 5px;
        background-color: var(--color-dark-blue);
        transition: all ease .4s; }
        .third-section .middle-section .box-left .certification:hover p,
        .third-section .middle-section .box-left .certification:hover a {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-weight: 200; }
  .third-section .skill-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 7%;
    left: 55%;
    z-index: 2;
    transform: skewY(-2deg);
    transition: ease-in-out 0.3s;
    font-family: inherit;
    font-size: inherit;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; }
    .third-section .skill-section:hover {
      transform: skewY(0);
      transition: ease-in-out 0.3s;
      left: 50% !important; }
      .third-section .skill-section:hover .skill-box {
        padding: 2rem 5rem; }
        .third-section .skill-section:hover .skill-box .technologies {
          margin: 2rem 5rem;
          transition: ease-in-out 0.3s; }
    .third-section .skill-section .skill-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem 6rem 7rem 6rem;
      background-color: var(--color-medium-background);
      height: 100%;
      border: .7rem solid white; }
      .third-section .skill-section .skill-box .title {
        display: flex;
        flex-direction: row;
        gap: 2rem; }
    .third-section .skill-section .technologies {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem 3rem;
      width: 100%;
      border: .3rem solid white;
      margin: .6rem 0;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; }
      .third-section .skill-section .technologies:hover {
        transform: scale(1.02, 1.02);
        transition: ease-in-out 0.3s; }
      .third-section .skill-section .technologies .box-outside {
        background-color: whitesmoke;
        position: relative;
        width: 100%;
        height: 1.5rem;
        margin-bottom: 1rem; }
        .third-section .skill-section .technologies .box-outside span {
          border: .1px solid whitesmoke;
          margin: 0;
          background-color: var(--color-dark-blue);
          position: absolute;
          width: 100%;
          height: 1.5rem; }
      .third-section .skill-section .technologies .technology-3 .box-outside span {
        width: 80%; }
  .third-section .final-box {
    z-index: 1;
    background-color: var(--color-light-blue);
    width: 97%;
    padding: 5rem 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; }

.fourth-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10rem;
  background-color: white;
  width: 100%;
  height: 50rem; }
  .fourth-section h2 {
    margin-top: 10rem; }

.fifth-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 120rem;
  background-color: var(--color-light-blue);
  font-size: 1.5rem;
  font-family: inherit; }
  .fifth-section .row-box {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 100%; }
    .fifth-section .row-box .left-contact {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      line-height: 7rem; }
      .fifth-section .row-box .left-contact h2 {
        font-size: 4rem;
        font-weight: 600; }
      .fifth-section .row-box .left-contact h3 {
        font-size: 2.5rem;
        font-weight: 300; }
      .fifth-section .row-box .left-contact p {
        font-size: 2rem;
        font-weight: 300; }
      .fifth-section .row-box .left-contact .row-1 {
        display: flex;
        flex-direction: row;
        gap: 10rem;
        padding: 10rem 0; }
        .fifth-section .row-box .left-contact .row-1 .email-row,
        .fifth-section .row-box .left-contact .row-1 .phone-row {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
    .fifth-section .row-box .right-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding: 1rem 1rem; }
      .fifth-section .row-box .right-row form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 58rem;
        height: 100%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: ease-in-out 0.3s;
        padding: 5rem 0; }
        .fifth-section .row-box .right-row form:hover {
          transform: scale(1.05, 1.08);
          transition: ease-in-out 0.3s; }
        .fifth-section .row-box .right-row form h2 {
          font-size: 3rem;
          font-weight: 300;
          color: var(--color-dark-blue);
          line-height: 1rem;
          margin-bottom: 6rem;
          margin-top: 4rem; }
        .fifth-section .row-box .right-row form .error-text-1,
        .fifth-section .row-box .right-row form .error-text-2,
        .fifth-section .row-box .right-row form .error-text-3 {
          display: none;
          font-family: inherit;
          color: red;
          font-size: 1.2rem;
          text-align: left;
          margin: 1rem 0; }
        .fifth-section .row-box .right-row form .col {
          margin: 2rem 0; }
        .fifth-section .row-box .right-row form .label,
        .fifth-section .row-box .right-row form .text-area {
          pointer-events: none;
          z-index: 1;
          position: absolute;
          margin-left: 2rem;
          display: block;
          transition: all .3s;
          transform: translateY(-3.5rem);
          transition: transform 200ms, color 200ms; }
        .fifth-section .row-box .right-row form .text-area {
          transform: translateY(-22.5rem); }
        .fifth-section .row-box .right-row form ::placeholder {
          color: transparent; }
        .fifth-section .row-box .right-row form input {
          position: relative;
          border: 0.6px solid var(--color-dark-blue);
          border-radius: .5rem;
          width: 40rem;
          height: 5rem;
          padding: 2rem; }
          .fifth-section .row-box .right-row form input:focus ~ .label,
          .fifth-section .row-box .right-row form input input:not(:placeholder-shown) ~ .label {
            transform: translateY(-8rem); }
          .fifth-section .row-box .right-row form input:not(:placeholder-shown) ~ .label {
            color: var(--color-dark-blue);
            transform: translateY(-8rem); }
          .fifth-section .row-box .right-row form input:focus ~ .label {
            color: orange; }
        .fifth-section .row-box .right-row form textarea {
          width: 40rem;
          padding-top: 0;
          vertical-align: top;
          resize: none;
          border: .6px solid #345c86;
          border-radius: .5rem; }
          .fifth-section .row-box .right-row form textarea:focus ~ .text-area,
          .fifth-section .row-box .right-row form textarea input:not(:placeholder-shown) ~ .text-area {
            transform: translateY(-27.3rem); }
          .fifth-section .row-box .right-row form textarea:not(:placeholder-shown) ~ .text-area {
            color: var(--color-dark-blue);
            transform: translateY(-27.3rem); }
          .fifth-section .row-box .right-row form textarea:focus ~ .text-area {
            color: orange; }
        .fifth-section .row-box .right-row form button {
          width: 40rem;
          height: 5rem;
          background-color: #345c86;
          color: white;
          border: none;
          border-radius: .5rem;
          cursor: pointer;
          margin: 1.5rem 0; }
          .fifth-section .row-box .right-row form button:hover {
            transform: scale(1.1, 1.1);
            transition: ease-in-out 0.3s; }

.footer-container {
  justify-content: space-between;
  background-color: #345c86; }
  .footer-container .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 15rem; }
    .footer-container .row p,
    .footer-container .row a {
      font-size: 2rem;
      font-weight: 300;
      color: white;
      text-decoration: none; }
