

@keyframes slideIn {
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @keyframes slide-Back-In{

    0%, 5%, 95%, 100% { 
        opacity: 100%;
        bottom: 0;
        transform: translate(0, 0);
    }
    45%, 55% {
        opacity: 100%;
        bottom: 100%;
        transform: translate(0, -100%);
    }
  }

  @keyframes slide-botton{
   
   0%, 45%, 55% {
    opacity: 2%;
        transform: translate(0, -20%);
    }
    100%{
        opacity: 100%;
        transform: translate(0, 0);
    }
  }

  @keyframes slide-nav{
   
    0%, 45%, 55% {
         transform: translate(0, -20%);
     }
     100%{
         opacity: 100%;
         transform: translate(0, 0);
     }
   }

  @keyframes slide-certfications{

    0%, 5%, 95%, 100% { 
       
        transform: scale(1.0, 1.0);
    }
    45%, 55% {
      
        transform: scale(1.01, 1.01);
    }
  }

  @keyframes animate {

    0% {
        width: 0%;
        box-shadow: hsla(232, 66%, 53%, 0.8) 5px 0,
            rgba(58, 71, 153, 0.1) 6px 0;
    }

    100% {
        width: 100%;
        box-shadow: rgba(57, 78, 214, 0.8) 5px 0,
            rgba(58, 71, 153, 0.1) 6px 0;


    }
}



  @mixin respond($breakpoint){
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {@content}; //600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {@content}; // 900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) {@content}; //1200px
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) {@content}; //1800px
    }
    }
