

//NAVIGATION PAGE BOTTONS EFFECTS

nav a.active {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--color-light-blue-1);
    border-radius: .3rem;
    height: 3rem;
    width: 9.2rem;
    gap: 1rem;
    transition: all 0.4s ease;

    @include respond(phone){
        transition: all 0.8s ease;
        animation: 1.2s slide-nav ease  .1s;
        bottom: 0;
    }
}

nav a.active:hover{
    transform: scale(1.1,1.1);
    transition:  ease-in-out 0.3s;

    @include respond(phone){
        transform: scale(1,1);
    }
}

nav a.active:before{
  display: none;
}


nav a:before{
content: "";
position: absolute;
bottom: 0;
height: 3px;
width: 0%;
border-radius: .1rem;

bottom: 0;
left: 50%;
transform: translateX(-50%);

background: var(--color-light-blue-1);
transition: all 0.4s ease;

@include respond(phone){
    background-color: white;

}

}

nav a:hover:before{
    width: 100%;
}


////STICKY NAV-SECTION SETTINGS


#main-nav.sticky {
    position: fixed;
    top: 0;
    z-index: 99999;
    
    box-shadow: hsl(211, 100%, 60%) 1px 1px,
        rgba(65, 46, 240, 0.3) 1px 2px;

    transition: box-shadow .2s ease-in-out;
}



/////////////////////////////////////////////////////////////////////

//Words effect on the first section

.first-section{
    &__text-intro{
        position: relative;
        transform: translateY(-600px);
        animation: .5s slideIn ease-in-out forwards .9s;

        & span{
            transform: translateX(-300%);
            animation: 1s slideIn ease forwards 1.6s;
        }
    }

    &__second-txt, &__btn{
        transform: translateY(20rem);
        animation: 2.5s slide-Back-In ease forwards 2.5s;
        opacity: 0%;
    }

}

.bi-arrow-bar-up{
    position: relative;
        transform: translateY(-1%);
        animation: 3s slide-botton ease-in-out forwards 1s infinite;
        transition: all 0.4s ease;


}

.bi-arrow-bar-down{
    position: relative;
        animation: 3s slide-botton ease-in-out forwards 1s infinite;
        transition: all 0.4s ease;
        // transform: rotate(180deg);
}
