.bi{
    color: #666666;
    padding-right: 1.5rem;

    // &__phone{
    //     color: #007bff;
    //     opacity: 70%;
    // }

    &__linkedIn{
        color: #007bff;
    }

    // &__gitHub{
    //     color: #007bff;
    // }
}
