////////////////////////////////////////////////////////////////////////////
///  COLORS


:root {
    --color-light-blue-1: #378ce6;
    --color-light-blue: #326ca9;
    --color-dark-blue: #2b4764;

    --color-light-background: #fefafaa1;
    --color-medium-background: #b2b6c9;


    --color-nav-gray: #eee;
    --color-light-gray: #cdcbcb;
    --color-med-dark-gray: #a2a0a0;
    --color-dark-gray: #666666;

    
}

//COLORS OF THE WEBSITE

html {
    // This defines what 1rem is
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {

    font-family: "Open Sans", -apple-system,
        BlinkMacSystemFont,
        "Segoe UI", Roboto,
        "Helvetica Neue", Arial,
        "Noto Sans", sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";

    background-color: #fff;

    margin: 0;
    padding: 0;

    line-height: 1.6;

    min-height: 100vh;
    font-size: 30px;
}
