.fifth-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 120rem;
    background-color: #326ca9;

   


    .row-box {
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 100%;
        padding: 10rem 2rem;

        & .left-contact {
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;

            padding: 0 1rem;
            line-height: 2rem;

            & h2 {
                font-size: 4rem;
                font-weight: 600;
            }

            & h3 {
                font-size: 2.5rem;
                font-weight: 300;
            }

            & p {
                font-size: 2rem;
                font-weight: 300;
            }

            & .row-1 {
                display: flex;
                flex-direction: row;
                gap: 10rem;
                padding: 5rem 0;

                & .email-row, .phone-row{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }


        ///////////////////     RIGHT SECTION ///////////////////////

        & .right-row {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            padding: 1rem 1rem;

            & h2 {
                font-size: 3rem;
                font-weight: 300;
                color: #345c86;
                line-height: 1rem;
            }

            & form {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 58rem;
                height: 75rem;
                // padding: 3rem 8rem;
                background-color: white;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                .error-text-1, .error-text-2, .error-text-3{
                    display: none;
                    font-family: inherit;
                    color: red;
                    font-size: 1.2rem;
                    align-self: flex-start;
                    padding-left: 10rem;
                    margin-bottom: -1rem;
                }

                & input {
                    border: .6px solid #345c86;
                    border-radius: .5rem;
                    width: 40rem;
                    height: 5rem;
                    padding: 2rem;
                    margin: 3.5rem 0 .1rem 0;

                }

                & textarea {
                    width: 40rem;
                    padding: 2rem;
                    resize: none;
                    border: .6px solid #345c86;
                    border-radius: .5rem;
                    font-family: inherit;
                    margin: 3.5rem 0 .1rem 0;
                }

                & button {
                    width: 40rem;
                    height: 5rem;
                    background-color: #345c86;
                    color: white;
                    border: none;
                    border-radius: .5rem;
                    cursor: pointer;
                    margin: 3rem 0;

                    &:hover {
                        transform: scale(1.1, 1.1);
                        transition: ease-in-out 0.3s;

                    }
     
                }
            }
        }
    }
}


.footer-container {
    justify-content: space-between;
    background-color: #345c86;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 15rem;

        & p,
        a {
            font-size: 2rem;
            font-weight: 300;
            color: white;
            text-decoration: none;
        }

    }
}
