.fifth-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 120rem;
    background-color: var(--color-light-blue);

    font-size: 1.5rem;
    font-family: inherit;

    .row-box {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        width: 100%;

        & .left-contact {
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            line-height: 7rem;

            & h2 {
                font-size: 4rem;
                font-weight: 600;
            }

            & h3 {
                font-size: 2.5rem;
                font-weight: 300;
            }

            & p {
                font-size: 2rem;
                font-weight: 300;

            }

            & .row-1 {
                display: flex;
                flex-direction: row;
                gap: 10rem;
                padding: 10rem 0;

                & .email-row,
                .phone-row {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }


        ///////////////////     RIGHT SECTION ///////////////////////

        & .right-row {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            padding: 1rem 1rem;

            & form {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;



                width: 58rem;
                height: 100%;
                background-color: white;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                transition: ease-in-out 0.3s;
                padding: 5rem 0;

                &:hover {
                    transform: scale(1.05, 1.08);
                    transition: ease-in-out 0.3s;
                }

                & h2 {
                    font-size: 3rem;
                    font-weight: 300;
                    color: var(--color-dark-blue);
                    line-height: 1rem;
                    margin-bottom: 6rem;
                    margin-top: 4rem;
                }


                & .error-text-1,
                .error-text-2,
                .error-text-3 {
                    display: none;
                    font-family: inherit;
                    color: red;
                    font-size: 1.2rem;
                    text-align: left;
                    margin: 1rem 0;
                }

                & .col {
                    margin: 2rem 0;

                }

                & .label,
                .text-area {
                    // color: white;
                    pointer-events: none;
                    z-index: 1;
                    position: absolute;
                    margin-left: 2rem;
                    display: block;
                    transition: all .3s;
                    transform: translateY(-3.5rem);
                    transition: transform 200ms, color 200ms;
                }

                .text-area {
                    transform: translateY(-22.5rem);
                }

                & ::placeholder {
                    color: transparent;
                }



                & input {
                    position: relative;
                    border: .6px solid var(--color-dark-blue);
                    border-radius: .5rem;
                    width: 40rem;
                    height: 5rem;
                    padding: 2rem;

                    &:focus~.label,
                    input:not(:placeholder-shown)~.label {
                        transform: translateY(-8rem);
                    }

                    &:not(:placeholder-shown)~.label {
                        color: var(--color-dark-blue);
                        transform: translateY(-8rem);
                    }

                    &:focus~.label {
                        color: orange;
                    }
                }

                & textarea {
                    width: 40rem;
                    padding-top: 0;
                    vertical-align: top;

                    resize: none;
                    border: .6px solid #345c86;
                    border-radius: .5rem;
                    // margin-bottom: 1.5rem;

                    &:focus~.text-area,
                    input:not(:placeholder-shown)~.text-area {
                        transform: translateY(-27.3rem);
                    }

                    &:not(:placeholder-shown)~.text-area {
                        color: var(--color-dark-blue);
                        transform: translateY(-27.3rem);
                    }

                    &:focus~.text-area {
                        color: orange;
                    }
                }

                & button {
                    width: 40rem;
                    height: 5rem;
                    background-color: #345c86;
                    color: white;
                    border: none;
                    border-radius: .5rem;
                    cursor: pointer;
                    margin: 1.5rem 0;

                    &:hover {
                        transform: scale(1.1, 1.1);
                        transition: ease-in-out 0.3s;
                    }
                }
            }
        }
    }


//////// mobile responsive //////////

    @include respond(phone) {
        // display: none;

        height: 100%;
        width: auto;
        padding: 10rem 0;

        .row-box {
            display: flex;
            flex-direction: column;
            align-items: center;

            & .left-contact {
                width: 100%;

                & h2 {
                    margin-bottom: 3rem;
                }

                .sub-title {
                    display: flex;
                    line-height: 4rem;
                    flex-direction: column;
                    width: 100%;
                }

                & .row-1 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            & .right-row {
                width: 100%;

                & form {
                    width: 40rem;
                    padding: 4rem;

                    &:hover {
                        transform: scale(1.0, 1.0);
                    }

                    & input {
                        width: 30rem;
                        height: 5rem;
                    }

                    .text-area {
                        transform: translateY(-19rem);
                    }

                    & textarea {
                        width: 30rem;

                        &:focus~.text-area,
                        input:not(:placeholder-shown)~.text-area {
                            transform: translateY(-24rem);
                        }

                        &:not(:placeholder-shown)~.text-area {
                            color: var(--color-dark-blue);
                            transform: translateY(-24rem);
                        }

                        &:focus~.text-area {
                            color: orange;
                        }
                    }

                    & button {
                        width: 30rem;

                        &:hover {
                            transform: scale(1.0, 1.0);
                        }
                    }

                }
            }

        }
    }



}







.footer-container {
    justify-content: space-between;
    background-color: #345c86;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 15rem;

        & p,
        a {
            font-size: 2rem;
            font-weight: 300;
            color: white;
            text-decoration: none;
        }
    }

    @include respond(phone) {
        // display: none;
        
        .row {
            padding: 3rem 1rem 5rem 1rem;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 2rem;

            & p{
                text-align: center;
            }
        }
    }
}
