///////////////////      HOME- FIRST SECTION ///////////

.first-section {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;

    padding: 10rem 0 20rem 0;

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__btn {
        display: flex;
        text-align: center;
        justify-content: center;

        & a {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            height: 4rem;

            border: 1px solid #007bff;
            border-radius: .4rem;

            transition: ease-in-out 0.3s;
        }

        & a:hover {
            background-color: #007bff;
            transition: ease-in-out 0.3s;
            transform: scale(1.1, 1.1);
            color: white;
        }
    }
}
