.third-section {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 10rem 0;
    margin-top: 20rem;

    margin-bottom: 50rem;

    @include respond(phone) {
        width: 100%;
        margin: 5rem 0;
        padding:  0;
    }

    .box-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        width: 85%;
        height: auto;
        transition: ease-in-out 0.3s;


        @include respond(phone) {
            width: 100%;
            position: relative;
            margin: 0 .5rem;
        }

        &:hover {
            width: 100%;
            transition: ease-in-out 0.3s;

            .skill-section {
                left: 60%;
                transform: skewY(0);
                transition: ease-in-out 0.3s;
                left: 50% !important;


                @include respond(phone) {
                    left: 0 !important;
                    height: 100%;
                }

                .skill-box {
                    padding: 2rem 5rem;

                    @include respond(phone) {
                        padding: 4rem 3rem;
                    }

                    .technologies {
                        margin: 2rem 5rem;
                        transition: ease-in-out 0.3s;

                        @include respond(phone) {
                            margin: 2rem 0;
                        }
                    }
                }

            }
        }
    }


    /////////////////////// // TOP BLUE BOX (RESUME) /////////////////////////////
    .top-section {
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        background-color: var(--color-light-blue);
        width: 97%;
        height: 12rem;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

        @include respond(phone) {
            background-color: white;
            width: 100%;
            box-shadow: none;
            margin-top: 7rem;
            height: 1rem;
        }
    }


    /////////////////////// // LEFT SECTION (EDUCATION-CERTIFICATIONS) /////////////////////////////
    .middle-section {
        margin-top: -10rem;
        position: relative;
        background-color: var(--color-light-background);
        width: 90%;
        height: 100%;

        @include respond(phone) {
            margin-top: 0;
            align-items: center;
            width: 100%;
            background-color: white;
           
        }

        .box-left {
            width: 50%;
            padding: 15rem 3rem;

            @include respond(phone) {
                width: 100%;
                height: auto;
                align-items: center;
                padding: 10rem 3rem 2rem 3rem;

                .title {
                    width: 90%;
                }

            }

            .left-row {
                width: 100%;
                align-items: center;
                margin-bottom: 4rem;
                padding: 1rem 0;
                font-family: inherit;

                @include respond(phone) {
                    margin-bottom: 1rem;
                }


                .title {
                    width: 90%;
                    z-index: 4;
                }

                & .border-education {
                    border: none;

                    @include respond(phone) {
                        padding: 3rem 0 0 0;
                        border: 1px solid var(--color-dark-blue);
                     
                    }


                }

                & .certificate-btn {

                    & p {
                        color: rgb(64, 62, 62);

                    }

                    & span {
                        display: none;
                    }
                }

                ////////////////// MOBILE RESPONSIVE ////////////////////////////

                @include respond(phone) {
                    & .title {
                        display: flex;
                        justify-content: center;
                        width: auto;
                        align-items: center;
                    }

                    & .certification,
                    .education {
                        display: flex;
                        align-items: center;
                    }

                    & .certificate-btn {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        align-self: center;
                        text-align: center;


                        & p {
                            color: rgb(64, 62, 62);
                            width: auto;

                            position: relative;
                            padding: 0 0 2rem 0;
                        }

                        & span {
                            display: block;

                            text-transform: uppercase;
                            align-self: center;
                            border: 1px solid orange;
                            background-color: orange;
                            color: white;
                            border-radius: 1rem;
                            font-size: 1.4rem;
                            padding: .7rem 2.7rem;
                            animation: 3s slide-certfications ease-in-out forwards 1s infinite;
                            transition: all 0.4s ease;

                            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                        }
                    }

                }

                ///////////////////////////////////////////////////////////////////
            }

            & .certification:hover {
                border-radius: 5px;
                background-color: var(--color-dark-blue);
                transition: all ease .4s;

                @include respond(phone) {
                    border-radius: 0;
                    background-color: var(--color-light-background);
                    transition: none;
                }

                & p,
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-weight: 200;

                    @include respond(phone) {
                        align-items: start;
                        font-size: 1.7rem;
                        font-weight: 400;
                        color: var(--color-dark-blue);
                    }

                    @include respond(phone) {
                        & p:last-child {
                            color: rgb(64, 62, 62);
                        }
                    }
                }
            }
        }
    }

    .open-skills {
        display: none;

        @include respond(phone) {
            display: flex;
            align-items: center;
            position: relative;

            &__box {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 6rem;
                bottom: 1rem;

                & .bi-arrow-bar-up {
                    display: flex;
                    align-items: center;
                    fill: #2b4764;
                    z-index: 3;
                    position: absolute;
                    top: -2rem;
                    width: 5rem;
                    padding-left: 1.3rem;
                    height: 5rem;
                }

                & p {
                    align-items: center;
                    font-size: 1.9rem;
                    text-transform: uppercase;


                    // border: 1px solid var(--color-dark-blue);
                    background-color: var( --color-light-blue);
                    color: white;
                    border-radius: 1rem;
                    font-size: 1.4rem;
                    padding: .7rem 2rem;
                    animation: 3s slide-certfications ease-in-out forwards 1s infinite;
                    transition: all 0.4s ease;

                }
            }
        }
    }

    /////////////////////// // SKILLS SECTION BOX /////////////////////////////
    .skill-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 7%;
        left: 55%;
        z-index: 2;
        transform: skewY(-2deg);
        transition: ease-in-out 0.3s;

        font-family: inherit;
        font-size: inherit;

        @include respond(phone) {
            display: none;
            padding: 0 1rem;
            width: 100%;
            height: 100%;
            top: 0;
            left: auto;
            z-index: 4;
            transform: skewY(0deg);
            left: auto;
        }

        @media screen and (min-width: 500px) and (max-width: 600px) {
            padding: 0 5rem;
        }


        .skill-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem 6rem 7rem 6rem;
            background-color: var(--color-medium-background);
            height: 100%;
            border: .7rem solid white;

            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;


            @include respond(phone) {
                display: block;
                padding: 4rem 1rem;

            }

            @media screen and (min-width: 500px) and (max-width: 600px) {
                padding: 4rem 3rem;
            }

            .title {
                display: flex;
                flex-direction: row;
                gap: 2rem;

                @include respond(phone) {
                    justify-content: center;
                    width: 100%;

                    & .icon-skills {
                        padding-right: 0;
                    }

                    & h3 {
                        width: auto;
                    }
                }

                & .bi-x-lg {
                    display: none;

                    @include respond(phone) {
                        display: flex;
                        align-self: self-start;
                        right: 0;
                        left: 0;
                        transform: translateX(5rem);

                        padding: 0;
                        color: var(--color-dark-gray);
                        width: 4rem;
                        height: 4rem;
                    }
                }
            }
        }

        .technologies {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem 3rem;
            width: 100%;
            border: .3rem solid white;
            margin: .6rem 0;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

            @include respond(phone) {
                padding: auto;
                margin: 2rem 0;
            }

            &:hover {
                transform: scale(1.02, 1.02);
                transition: ease-in-out 0.3s;

                @include respond(phone) {
                    transform: scale(1, 1);
                }
            }

            .box-outside {
                background-color: whitesmoke;
                position: relative;
                width: 100%;
                height: 1.5rem;
                margin-bottom: 1rem;

                & span {
                    border: .1px solid whitesmoke;
                    margin: 0;
                    background-color: var(--color-dark-blue);
                    position: absolute;
                    width: 100%;
                    height: 1.5rem;
                }
            }

            .technology-3 {
                .box-outside {
                    & span {
                        width: 80%;
                    }
                }
            }
        }

    }

    /////////////////////// // BOTTOM BLUE BOX /////////////////////////////

    .final-box {
        z-index: 1;
        background-color: var(--color-light-blue);
        width: 97%;
        padding: 5rem 0;

        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

        @include respond(phone) {
            display: none;
            width: 100%;
            padding: 2rem 0;
        }
    }
}
