//FIRST GRAY NAV-BAR

.top-bar {
    display: flex;
    align-items: center;
    background-color: var(--color-nav-gray);
    padding: 0.7rem 0;
    width: 100%;

    z-index: 99999999999999;
    position: relative;

    @include respond(phone) {
        z-index: 10;
        padding: 1rem 0;
        margin-bottom: 1rem;
        width: 100%;
    }


    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 3rem;
        padding: 0 10rem;

        @include respond(phone); @include respond(tab-port) {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            padding: 0 5rem;
        }

    }

    &__row-left,
    &__row-right {
        display: flex;
        gap: 3rem;
    }

    @include respond(phone) {
        &__row-left {
          display: none;
      
        }

        &__row-right {
            gap: 4rem;
        }
    }

}


//SECOND WHITE NAV-BAR

.nav-container {
    display: flex;
    align-items: center;
    position: fixed;
    position: relative;
    z-index: 9999999999999999;
    background-color: #fff;

    width: 100%;
    height: 8rem;

    box-shadow: rgb(38, 57, 77) 1px 5px 5px -9px;

    @include respond(phone); @include respond(tab-port) {
        height: 10rem;
    }

    &__row-align {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        align-items: center;
        padding: 0 10rem;

        @include respond(phone) {
            padding: 2rem;
            flex-direction: column;
        }

        @include respond(tab-port) {
            padding: 1.5rem;
        }

    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond(phone) {
            margin-top: 1rem;
            z-index: 9999999;
        }   
    }


    &__nav--list ul,
    li,
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        gap: 6rem;
        padding: 6px 0;

        @include respond(phone); @include respond(tab-port) {
            gap: 4rem;
            font-size: 1.8rem;
        }

    }
}
