.top-bar a {
    color: #666666;
    text-decoration: none;
    font-size: 1.6rem;
}



.nav-container {
    h2 {
        text-transform: uppercase;
        position: relative;
        color: white;
        -webkit-text-stroke: 0.1vw #007bff;
        font-size: 3rem;
        font-weight: 900;

        @media only screen and (max-width: 1200px) {
            font-size: 2.5rem;
        }


    }

    h2::before {
        content: attr(data-text);
        white-space: nowrap;
        position: absolute;
        width: 100%;
        height: 100%;
        color: #007bff;
        -webkit-text-stroke: 0vw #007bff;
        // border-right: 2px solid #007bff;
        overflow: hidden;
        animation: animate 2s linear 4.5s;
    }

    @keyframes animate {

        0% {
            width: 0%;
        }

        100% {
            width: 100%;
        }
    }



    &__list,
    ul,
    a {
        font-size: 1.6rem;
        font-weight: 400;
        list-style: none;
        color: #666666;
        text-decoration: none;

        @media only screen and (max-width: 1200px) {
            font-size: 1.3rem;
        }
    }
}



//FIRST SECTION HOME /////////


.first-section {
    &__text-intro {
        display: flex;
        flex-direction: column;
        font-size: 6.5rem;
        font-weight: 900;


        & span {
            font-size: 5.5rem;
            font-weight: 300;


            & span {

                color: #007bff;
                text-transform: capitalize;
                font-weight: bold;

            }
        }
    }

    &__second-txt {
        font-weight: 400;
        text-align: center;
        font-size: 2rem;
        color: #666666;

    }

    &__btn {

        & a {
            font-weight: 400;
            word-spacing: .2rem;
            letter-spacing: .2rem;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.5rem;
            color: #007bff;



        }
    }
}

// SECOND SECTION PROJECT//////


.second-section{

    & h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10rem;
        color: white;
        transform: skew(-5deg);
    }

    .first-text {
        justify-content: center;
        text-align: center;
        padding: 1rem 1rem;
        width: 100%;
        height: 4rem;
        color: white;
        transition: all 0.5s ease-in-out;
        font-size: 1em;
        transform: skew(-5deg);
    }




}
